In [ ]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.6/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl) (1.4.1)

In [ ]:
from openpyxl import Workbook
from openpyxl.chart import BarChart, Series, Reference
import csv
import pandas as pd

In [ ]:
from google.colab import files
upload1 = files.upload()
upload2 = files.upload()

Saving luas-wilayah-menurut-kecamatan-di-kota-bandung-2017.csv to luas-wilayah-menurut-kecamatan-di-kota-bandung-2017.csv

Saving jumlah-penduduk-kota-bandung.csv to jumlah-penduduk-kota-bandung.csv

In [ ]:
wb = Workbook()
ws = wb.active
ws.title = 'Kepadatan Penduduk'
ws1 = wb.create_sheet('Jumlah Penduduk')
ws2 = wb.create_sheet('Luas Wilayah')

data1 = open('/content/jumlah-penduduk-kota-bandung.csv')
data2 = open('/content/luas-wilayah-menurut-kecamatan-di-kota-bandung-2017.csv')
rows1 = csv.reader(data1, delimiter=',')
rows2 = csv.reader(data2, delimiter=',')

In [ ]:
index = 0
for row in rows1:
    data_clean1 = []
    for i in row:
        try:
            i = int(i)
        except:
            pass
        data_clean1.append(i)
    ws1.append(data_clean1)
for row in rows2:
    data_clean2 = []
    for i in row:
        try:
            i = int(i)
        except:
            pass
        data_clean2.append(i)
    ws2.append(data_clean2)
    index +=1
len_row1 = len(data_clean1)
len_row2 = len(data_clean2)

In [ ]:
df1 = pd.DataFrame(ws1.values)

In [ ]:
df1.columns = df1.iloc[0]
df1 = df1.drop(df1.index[0])
df1

0        Kecamatan   Jumlah_Kelurahan Jumlah_Penduduk
1      Bandung Kulon                8          142411
2    Babakan Ciparay                6          147096
3    Bojongloa Kaler                5          120405
4    Bojongloa Kidul                6           85668
5        Astanaanyar                6           68830
6              Regol                7           81467
7           Lengkong                7           71187
8      Bandung Kidul                4           58957
9          Buah Batu                4           95108
10         Rancasari                4           76895
11          Gedebage                4           37082
12            Cibiru                4           72016
13       Panyileukan                4           40248
14      Ujung Berung                5           76902
15           Cinambo                4           25231
16         Arcamanik                4           69313
17          Antapani                4           74461
18       Mandalajati                4           63578
19      Kiaracondong                6          131972
20       Batununggal                8          120927
21     Sumur Bandung                4           36579
22             Andir                6           97553
23           Cicendo                6           99752
24     Bandung Wetan                3           31124
25  Cibeunying Kidul                6          107806
26  Cibeunying Kaler                4           70924
27           Coblong                6          131530
28          Sukajadi                5          108375
29          Sukasari                4           81908
30           Cidadap                3           58672

In [ ]:
df1 = df1.sort_values(by="Kecamatan  ", axis=0, ascending = True, inplace = False, ignore_index=True)
df1

0        Kecamatan   Jumlah_Kelurahan Jumlah_Penduduk
0              Andir                6           97553
1           Antapani                4           74461
2          Arcamanik                4           69313
3        Astanaanyar                6           68830
4    Babakan Ciparay                6          147096
5      Bandung Kidul                4           58957
6      Bandung Kulon                8          142411
7      Bandung Wetan                3           31124
8        Batununggal                8          120927
9    Bojongloa Kaler                5          120405
10   Bojongloa Kidul                6           85668
11         Buah Batu                4           95108
12  Cibeunying Kaler                4           70924
13  Cibeunying Kidul                6          107806
14            Cibiru                4           72016
15           Cicendo                6           99752
16           Cidadap                3           58672
17           Cinambo                4           25231
18           Coblong                6          131530
19          Gedebage                4           37082
20      Kiaracondong                6          131972
21          Lengkong                7           71187
22       Mandalajati                4           63578
23       Panyileukan                4           40248
24         Rancasari                4           76895
25             Regol                7           81467
26          Sukajadi                5          108375
27          Sukasari                4           81908
28     Sumur Bandung                4           36579
29      Ujung Berung                5           76902

In [ ]:
df2 = pd.DataFrame(ws2.values)
df2.columns = df2.iloc[0]
df2 = df2.drop(df2.index[0])
df2 = df2.sort_values(by="Nama Kecamatan", axis=0, ascending = True, inplace = False, ignore_index=True)
df2

0     Nama Kecamatan Luas Wilayah (m2)
0              Andir           4220000
1           Antapani           4220000
2          Arcamanik           7590000
3       Astana Anyar           2680000
4    Babakan Ciparay           7070000
5      Bandung Kidul           5420000
6      Bandung Kulon           6950000
7      Bandung Wetan           3440000
8        Batununggal           4820000
9    Bojongloa Kaler           3120000
10   Bojongloa Kidul           5200000
11          Buahbatu           7460000
12  Cibeunying Kaler           4640000
13  Cibeunying Kidul           4140000
14            Cibiru           6840000
15           Cicendo           7790000
16           Cidadap           8420000
17           Cinambo           4250000
18           Coblong           7310000
19          Gedebage           9960000
20      Kiaracondong           5800000
21          Lengkong           5910000
22       Mandalajati           4800000
23       Panyileukan           5310000
24         Rancasari           7010000
25             Regol           4740000
26          Sukajadi           5280000
27          Sukasari           6360000
28     Sumur Bandung           3490000
29       Ujungberung           6240000

In [ ]:
kepadatan = (df1['Jumlah_Penduduk']/df2['Luas Wilayah (m2)'])*100

In [ ]:
print(kepadatan)

0      2.31168
1      1.76448
2     0.913215
3      2.56828
4      2.08057
5      1.08777
6      2.04908
7     0.904767
8      2.50886
9      3.85913
10     1.64746
11     1.27491
12     1.52853
13     2.60401
14     1.05287
15     1.28051
16    0.696817
17    0.593671
18     1.79932
19    0.372309
20     2.27538
21     1.20452
22     1.32454
23    0.757966
24     1.09693
25     1.71871
26     2.05256
27     1.28786
28     1.04811
29      1.2324
dtype: object

In [ ]:
kecamatan = []
for kec in df2['Nama Kecamatan']: kecamatan.append(kec)

In [ ]:
df = pd.merge
df

[[0                Andir
  1             Antapani
  2            Arcamanik
  3         Astana Anyar
  4      Babakan Ciparay
  5        Bandung Kidul
  6        Bandung Kulon
  7        Bandung Wetan
  8          Batununggal
  9      Bojongloa Kaler
  10     Bojongloa Kidul
  11            Buahbatu
  12    Cibeunying Kaler
  13    Cibeunying Kidul
  14              Cibiru
  15             Cicendo
  16             Cidadap
  17             Cinambo
  18             Coblong
  19            Gedebage
  20        Kiaracondong
  21            Lengkong
  22         Mandalajati
  23         Panyileukan
  24           Rancasari
  25               Regol
  26            Sukajadi
  27            Sukasari
  28       Sumur Bandung
  29         Ujungberung
  Name: Nama Kecamatan, dtype: object, 0      2.31168
  1      1.76448
  2     0.913215
  3      2.56828
  4      2.08057
  5      1.08777
  6      2.04908
  7     0.904767
  8      2.50886
  9      3.85913
  10     1.64746
  11     1.27491
  12     1.52853
  13     2.60401
  14     1.05287
  15     1.28051
  16    0.696817
  17    0.593671
  18     1.79932
  19    0.372309
  20     2.27538
  21     1.20452
  22     1.32454
  23    0.757966
  24     1.09693
  25     1.71871
  26     2.05256
  27     1.28786
  28     1.04811
  29      1.2324
  dtype: object]]